@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --main-text: #1E3072;
}

body {
    font-family: 'Raleway', sans-serif;
}

button:hover {
    opacity: 0.8;
}

a:hover {
    opacity: 0.8;
}